#!/usr/bin/env bash

# ~/.vim/vimrc hash: {{ include "dot_vim/vimrc" | sha256sum }}

echo "Linking vim config"
rm -f "${HOME}/.vimrc"
ln -s "${HOME}/.vim/vimrc" "${HOME}/.vimrc"

# Install zgen
if [ ! -d "${HOME}/.zgen" ]; then
  echo "Installing zgen"
  git clone https://github.com/tarjoilija/zgen.git "${HOME}/.zgen"
fi

# Grab vundle
if [ ! -d "${HOME}/.vim/bundle/Vundle.vim" ]; then
  echo "Installing vundle"
  git clone https://github.com/VundleVim/Vundle.vim.git "${HOME}/.vim/bundle/Vundle.vim"
fi

# Install all plugins
echo "Installing vim plugins"
vim +PluginInstall +qall
