[Desktop Entry]
Name=Discord (Name)
StartupWMClass=discord-name
Comment=All-in-one voice and text chat for gamers that's free, secure, and works on both your desktop and phone.
GenericName=Internet Messenger
Exec=/bin/bash -c "export XDG_CONFIG_HOME=~/.config/discord-name; export TMPDIR=~/.config/discord-name/tmp; /usr/share/discord/Discord"
Icon=discord
Type=Application
Categories=Network;InstantMessaging;
Path=/usr/bin
