#!/usr/bin/env bash

{{ if (eq .chezmoi.os "linux") }}
echo "Installing some basic packages"
  {{ if (or (eq .chezmoi.osRelease.id "pop") (eq .chezmoi.osRelease.id "ubuntu") ) }}
sudo apt-get update && sudo apt-get install -y zsh vim tmux xclip htop git build-essential
  {{ else if (or (eq .chezmoi.osRelease.id "manjaro") (eq .chezmoi.osRelease.id "arch" ) ) }}
sudo pacman -Syy && sudo pacman -S zsh vim tmux htop git xclip base-devel
  {{ end }}

  {{ if (eq .chezmoi.arch "amd64") }} 
if [[ ! -f "/home/linuxbrew/.linuxbrew/bin/brew" ]]; then
  echo "Installing linux brew"  
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi
  {{ end }}
{{ end }}
{{ if (eq .chezmoi.os "darwin") }}
if [[ ! -f "/usr/local/bin/brew" ]]; then
  echo "Installing Homebrew"
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi
{{ end }}
